@font-face {
  font-family: "Digital-7";
  src: URL("digital-7.ttf") format("truetype");
}

body {
  font-family: "Digital-7";
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 5%);
  height: 100vh;
  width: 100vw;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  text-align: center;
}


h2:first-child {
  font-size: 6em;
  font-weight: 500;
}

h2:last-child {
  font-size: 6em;
  font-weight: 400;
}